*{margin:0;padding:0;border-spacing:0;border:0}
html,body,* html #wrapper{height:100%}
body{background:#EEE;font:12px Verdana,Geneva,sans-serif,Arial}
h2{color:#AAA;font-size:32px;line-height:32px;margin-bottom:0;margin-top:0}
h4{color:#aaa;font-size:18px;line-height:9px;margin-bottom:20px;margin-top:20px}
#wrapper{min-height:100%;position:relative}
#footer{bottom:0;position:absolute;width:100%}
#content{padding:1em 1em 2.5em}
div#main{height:40px}
div#subnav{background:linear-gradient(to bottom,#FFFFFF 20%,#F3F3F3 100%) repeat scroll 0 0 rgba(0,0,0,0);border-bottom:1px solid #AAA;font-family:arial;margin-bottom:5px;height:19px;padding-bottom: 2px;}
#main,#nav{font-family:Verdana,Geneva,sans-serif,Arial;text-align:center}
#main li{font-size:18px;font-weight:700}
#nav li{font-size:14px;padding-bottom:0;padding-top:0}
#main li,#nav li{display:inline;padding:5px 3px 3px}
a.tooltip{cursor:default;position:relative;text-decoration:none}
a.tooltip span,a.tooltip1 span{display:none;z-index:99}
a.tooltip1{color:red;cursor:default;position:relative;text-decoration:none}
a:hover{color:#ff9e5f}
a:hover img.icon{background:red}
a:hover span{background:#FFD;border:1px solid #666;color:#350;display:block;font-weight:400;padding:10px;position:absolute;right:1em;top:2em}
a:link,a:visited,a:active{color:#050840}
div#content{margin-bottom:0;padding:0 0 100px}
div#content table.ecm_totals,div#content table.user_totals{width:50%}
div.cccamentitlementtotals,div.cccamentitlementcontrols{margin-top:14px;text-align:center}
div.debugmenu,div.logmenu{line-height:20px;margin-top:10px}
div.div_notifier{border-radius:12px;background:red;float:right;height:14px;margin-left:4px;text-align:center;width:14px}
div.filterform{margin:10px}
div.footer{margin-bottom:0;padding-bottom:5px;padding-top:5px}
div.footer p{color:#FFF;margin:2px}
div.groups{cursor:default;overflow:hidden;margin:0 auto;text-align:center;word-wrap:none;position:relative;width:40px}
div.info{margin:20px auto;max-width:1300px}
div.log{background:#CCC;color:#000;font-family:"Lucida Console",Monaco,monospace;margin:20px 0;padding:10px;text-align:left;width:98%;border-radius:3px;margin-left:auto;margin-right:auto}
div.logo{left:5px;position:absolute;top:5px}
div.message{font-size:12px;font-weight:700;margin:5px 0}
div.mlogo,div.mlogo:hover{height:40px;margin:0;position:absolute;text-decoration:none;top:0;z-index:1060}
#newreader,#newuser,.hidden,th#exp,td#exp.usercol20,th#cwc,td#cwc.usercol13,th#acasc,td#acasc.usercol19,td#acasc.usercol20{display:none}
div.sidlist{background:#fffdf5;border:1px dotted #AAA;color:#666;font-family:"Courier New",monospace;padding:2px;text-align:left}
div.sidlistclose{background:red;color:#FFF;float:right}
div.sidlistclose a{color:#FFF;padding:0 3px;text-decoration:none}
div.warning{margin:42px 0 14px}
div#otherdropdown form{margin-bottom:20px;margin-top:5px}
div#otherdropdown form select{margin-top:5px}
img{border:0 solid}
img.icon{background:#A00;border:0 solid;height:22px;max-height:22px;width:22px;border-radius:3px}
img.statususericon,img.protoicon,img.usericon,img.readericon{min-height:15px;height:22px}
li.configmenu a,li.configmenu_selected a{color:#000;margin-left:-2px;margin-right:-2px;padding-left:2px;padding-right:2px;text-decoration:none}
li.configmenu:hover,li.configmenu{margin-left:-2px;margin-right:-2px;padding-left:2px;padding-right:2px}
li.menu a{color:#fff;text-decoration:none}
li.menu_selected:hover a,li.menu:hover a,li.menu_selected a{border-top-left-radius:3px;border-top-right-radius:3px;margin-left:-4px;margin-right:-4px;text-shadow:1px 1px 0 #FFF;color:#000;text-decoration:none;background:linear-gradient(to bottom,#F6F6F6 25%,#EBEBEB 49%,#D9D9D9 50%,#FFFFFF 100%) repeat scroll 0 0 rgba(0,0,0,0);padding:3px 4px 9px}
li.configmenu_selected a,li.configmenu:hover a{text-shadow:2px 2px 1px #AAA}
p#text_totalecm{color:#000;margin-bottom:10px;margin-top:10px;text-align:center;font-weight:700}
p#filename{color:#000;font-size:14px;font-weight:700;margin-bottom:5px;text-align:center}
p,li.menu a{color:#FFF}
p.blinking{color:red;font-size:large;font-weight:700}
span.e_valid{background:#e6febf}
span.global_conf{color:blue;cursor:default;font-size:12px;padding:4px}
span.idlesec_alert{color:red;font-size:9px}
span.idlesec_normal{color:#000;font-size:9px}
span.text_entitle{margin:2px 0 0}
span.span_notifier{border-radius:12px;background:red;border:2px solid #FFF;color:#FFF;font:bold 12px/9px Helvetica,Verdana,Tahoma;height:12px;margin-left:-8px;margin-top:-5px;min-width:8px;padding:2px 3px 0;position:absolute;text-align:center;z-index:1099}
span.text_entitle,span.text_totalecm{display:inline-block;font-weight:700}
span.text_script{display:inline-block;font-weight:700;margin:28px}
span.user_totals_headline{display:inline-block;margin:10px 0}
table{border-spacing:0;margin-left:auto;margin-right:auto}
td{background:#CCC;color:#000;height:10px;padding:5px;border-bottom:1px solid #000;border-right:1px solid #000}
td#in.centered img,td#out.centered img{margin-bottom:-2px;margin-left:10px;margin-right:10px}
td.centered div{margin:auto}
td.configmenu{background:#FFF;color:#000;font-weight:700}
td.configmenu_selected{background:#e6febf;color:#000;font-style:italic;font-weight:700}
td.menu{background:#FFF;color:#000;font-size:14px;font-weight:700}
td.menu_selected{background:#e6febf;color:#000;font-size:14px;font-style:italic;font-weight:700}
td.servicescol3{border-left:2px solid #CCC}
td.statuscol14 a,td.statuscol16 a,td.subheadline a{text-decoration:none}
td.statuscol4,td.statuscol4 a,td.statuscol9,td.statuscol9 a,td.statuscol13,td.statuscol13 a,td.usercol1,.span,span,span a{text-align:center;text-decoration:none}
td.subheadline{border:0;height:10px;padding:5px}
td.subheadline input{border:.1px solid #FFF;float:right;font-size:12px;margin-left:5px;margin-right:5px;padding:0}
th{height:10px;padding:5px;border-right:1px solid #FFF}
th.nameinfo{background:#999;text-transform:uppercase}
ul#mainmenu{padding-top:10px}
input[type=submit]{background:#06c;font:700 11px Arial,Helvetica,sans-serif;text-decoration:none;color:#fff;margin:0 0 0 5px;padding:3px 5px 1px;border:0;border-radius:5px}
input[type=submit]:hover{background:#c00}
input[type=submit]:active{background:red}
input[type=text],input[type=text]:hover,input[type=text]:active{border:.5px solid #000;cursor:text;padding:2px}
tr.r:hover td,tr.r:hover td span,tr.r:hover td span a,tr.p:hover td,tr.p:hover td span,tr.p:hover td span a,tr.c:hover td,tr.c:hover td span,tr.c:hover td span a{background:#AAA;color:#FFF}
tr.r img.icon,tr.r a:hover img.icon{background:#06C}
tr.p img.icon,tr.p a:hover img.icon{background:#06C}
tr.c img.icon,tr.c a:hover img.icon{background:#06C}
tr.m td{background:#DBB}
tr.r td{background:#CCC}
tr.p td{background:#DEF}
tr.c td{background:#FFE}
tr.online td{background:#BFA}
tr.online:hover td{background:#AE9}
tr.connected td{background:#FFD}
tr.connected:hover td{background:#EEC}
tr.offline td{background:#EEA}
tr.offline:hover td{background:#DD9}
tr.disabled td{background:#CCC}
tr.disabled:hover td{background:#BBB}
tr.expired td{background:#EEA}
tr.expired:hover td{background:#DD9}
tr td:first-child{border-left:1px solid #000}
table.config,table#cachexstats{width:60%}
table.cacheex,table#dataTable.stats{width:80%}
table#cachexstats,table#dataTable.stats{margin-top:0;margin-bottom:0}
table.cacheex tbody tr th{padding-right:40px}
table#addnewservice, table#servicesedit{width:45%}
table.user_totals.smallmargintop,table.ECM_totals.smallmargintop,table#cachexstats.margintop{margin-top: 5px;}
table.status{margin-top:5px;margin-bottom:5px;width:99%}
table.stats,table.config{margin-top:5px;margin-bottom:15px;min-width:35%;max-width:80%}
div#content form{margin-bottom:15px}
div#content table.status tbody tr td.subheadline form,div#newreader form{margin-bottom:0}
table.readers,table.users,table.users{width:99%;margin-top:0}
table.configreader.upspace tbody tr td,table.config tbody tr td{text-align:left}
tr.disabled td a img.icon,tr.disabledreader td a img.icon{background:#080}
tr.enabledreader:hover td{background:#AAA;color:#000}
tr.enabledreader td a:hover img.icon{background:red}
tr.disabledreader:hover td{background:#FAA;color:#000}
tr.disabledreader td a:hover img.icon,tr.disabled td a:hover img.icon{background:#0A0}
div.message,div.warning,div.debugmenu,div#content form,div#footer.footer,div#otherdropdown,th.withservices,th.notservices,th.lbservices,table.status tbody tr td,table.ECM_totals tbody tr td,table.user_totals tbody tr td,table#dataTable.users tbody tr td,table#dataTable.readers tbody tr td,table#cachexstats.upspace tbody tr td,table#dataTable.stats.upspace tbody tr td,div.logmenu{text-align:center}
table.invisibleser,table.invisiblelb{width:100%}
table.visible{width:60%;margin-bottom:5px;text-align:center}
table.newservice,table#servicesedit.stats.upspace{width:35%;text-align:center}
table.newservice{margin-top:5px;margin-bottom:-5px}
table#dataTable.cacheex{margin-top:0}
table#dataTable.stats.upspace tbody tr:hover td{background:#AAA}
table.configreader.upspace,table.statsbalance,table.cacheex{margin-top:5px}
table.configreader tbody tr td table.invisible tr td,table.config tbody tr td table.invisible tbody tr td{border:none}
table.configreader tbody tr td{text-align:left}
table.subservicetable{width:100%}
th#sortable{cursor:pointer}
th.withservices a,th.notservices a,th.lbservices a{color:#fff;text-decoration:none;font-weight:700}
tr th:first-child,tr td:first-child{border-left:1px solid #000}
tr th:last-child,tr td:last-child{border-right:1px solid #000}
tr:first-child th{border-top:1px solid #000}
td.subheadline p{text-align:left}
td.subheadline p input{margin-right:5px}
td.subheadline a{color:#FFF}
td.subheadline form{margin-top:-1px;margin-bottom:-2px;height:16px}
td.subheadline form select{width:100px;text-align:center;font-size:10px;font-weight:500;color:#FFF;background:#666}
#chart {position:absolute;width: 150px;height: 90px;padding:3px;color:#FFFFFF}
#charthead {width:100%;height:5px;font-size:3}
#graph {width:98%;bottom:0;position:absolute;}
div.bar {width: 5px;margin: 2px;display: inline-block;position: relative;background-color: #aeaeae;vertical-align: baseline;}
textarea.editor{background:#fafafa;color:#000;height:480px;width:95%;padding:10px;border-radius:5px;font:11px "Courier New",monospace}
textarea,form select{border:1px;border-style:inset;border-color:#000}
th,#chart,#main,div.footer,td.subheadline,.visible tbody tr th,td.subheadline input{background:#b5bdc8;background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2I1YmRjOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjM0JSIgc3RvcC1jb2xvcj0iIzUzNTY1ZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyODM0M2IiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);background:-moz-linear-gradient(top,#b5bdc8 0%,#53565e 34%,#28343b 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#b5bdc8),color-stop(34%,#53565e),color-stop(100%,#28343b));background:-webkit-linear-gradient(top,#b5bdc8 0%,#53565e 34%,#28343b 100%);background:-o-linear-gradient(top,#b5bdc8 0%,#53565e 34%,#28343b 100%);background:-ms-linear-gradient(top,#b5bdc8 0%,#53565e 34%,#28343b 100%);background:linear-gradient(to bottom,#b5bdc8 0%,#53565e 34%,#28343b 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#b5bdc8",endColorstr="#28343b",GradientType=0);color:#fff}
#livelog {height:500px;width:97%;margin-left:1%;overflow-y:auto;list-style:none;text-align:left;background-color:#CCCCCC;padding:10px;color:#000000;font-family: "Courier New",monospace;border-radius:4px}
#livelogdata {list-style:none;}
li.regex {list-style-type:none;}
input.regexinput {cursor:text;padding:2px;margin: 3px 15px 1px 3px;width:400px;}
#regexok, #regexreset {>margin-top:20px;width:70px;}
div.colorPicker-picker {height: 16px;width: 16px;display: inline;margin: 3px;padding: 4px 8px;border: 1px solid #ccc;cursor: pointer;line-height: 16px;
font-size:0.75em;font-weight:bold;text-align: center;}
div.colorPicker-palette {width: 110px;position: absolute;border: 1px solid #598FEF;background-color: #EFEFEF;padding: 2px;z-index: 9999;}
div.colorPicker_hexWrap {width: 100%; float:left }
div.colorPicker_hexWrap label {font-size: 95%; color: #2F2F2F; margin: 5px 2px; width: 25%}
div.colorPicker_hexWrap input {margin: 5px 2px; padding: 0; font-size: 95%; border: 1px solid #000; width: 65%; }
div.colorPicker-swatch {height: 12px;width: 12px;border: 1px solid #000;margin: 2px;float: left;cursor: pointer;line-height: 12px;}
#showhidesettings{}
#regexdata{width:60%;margin:auto;margin-top: 20px}
#regexdata p{width:25%;margin:auto;margin-bottom: 20px;margin-top:10px}
li.pollselect {display:inline;list-style:none;position:absolute;right:5px;top:35px;}
input.pintervall {padding-top:0px;font-size:14px;font-weight:700;width:18px;height:18px;color:#000;background-color:transparent;border:none;border-radius:4px;text-align:right;margin: 0 4px;}
#inc,#dec {padding:0 3px;margin: -3px 3px;border:none;background-color:#0066CC;color:#FFFFFF;border-radius:4px;font-size:14px;font-weight:700;width: 18px;height: 18px;}
#inc:hover,#dec:hover {background-color:red;}
a.debugl:link{margin:0 1px;background-color:#0066CC;color:#FFF;padding:0px 1px 1px;border-radius:3px;}
a.debugl:hover{background-color:#A00}
a.debugls:link{background-color:#A00;color:#FFFFFF;padding:0px 1px 1px;border-radius:3px;}
a.debugls:visited{background-color:#A00;color:#FFFFFF;border-radius:3px;}
a#savelog{text-decoration:none}
div#regex{margin-bottom: 5px}

