html,
div,
table,
tbody,
tfoot,
thead,
tr,
th,
td {margin:0;padding:0;border:0}

body {min-width:420px;color:#fff;font-family:Arial;font-size:12px;text-align:center;margin-left:0;margin-right:0;margin:0;margin-top:80px;}
#body {background-color:#888;}
body {background: #888888; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI2JSIgc3RvcC1jb2xvcj0iIzg4ODg4OCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjkwJSIgc3RvcC1jb2xvcj0iIzI5MjkyOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
background: -moz-linear-gradient(top,  #888888 6%, #292929 90%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(6%,#888888), color-stop(90%,#292929)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #888888 6%,#292929 90%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #888888 6%,#292929 90%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #888888 6%,#292929 90%); /* IE10+ */
background: linear-gradient(to bottom,  #888888 6%,#292929 90%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#888888', endColorstr='#292929',GradientType=0 ); /* IE6-8 */
;}

p    {color:white}
p.blinking {font-weight:bold;font-size:large;}
p.blinking {color:red}

.oscamlogo,
img {left:0px;right:0px;margin:auto;}

h2 {font-size:32px;line-height:32px;margin-top:0px;margin-bottom:0px;}
h2 {color:#aaa;}

h4 {font-size:18px;line-height:9px;}
h4 {color:#aaa;}

hr {height:1px;border-width:0;}
hr {color:white;}

#nav       {width:100%;height:40px;position:fixed;top:0px;z-index:1060}
#nav       {background-color:#135;
            border-bottom-color: #eee;
            border-bottom-width: 5px;
            border-bottom-style: solid;}
#menu{
    list-style-type:none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 40px;
    width: 800px;
    z-index:1051;
    font-weight:bold;
    font-size: 16px;
    font-family:arial, helvetica, sans-serif;
}
#menu li   {
    padding-top: 12px;
    float:left;
    display:block;
    position:relative;
    border:none;
}
#menu li a {padding-left:6px;padding-right:6px;padding-top: 6px;padding-bottom: 12px;text-decoration:none;}

ul#menu li.menu a         {color:#fff;}
li.menu:hover a:hover,
li.menu_selected a{
    background-color:#eee;
    color: #000;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
li.menu_selected a,
li.menu:hover a:hover,
li.menu_selected:hover a,
li.menu_selected a:hover  {padding-bottom: 12px;}
ul#menu li.menu a:hover,
li.menu:hover a:hover,
li.menu_selected:hover a,
li.menu_selected a:hover  { color: #000;background-color: #eee;}

li.configmenu{
    height: 10px;
    margin: 0px;
    margin-top:2px;
    margin-bottom:2px;
    padding-top: 10px;
    padding-left: 1px;
    padding-right: 1px;
    padding-bottom: 10px;
    text-decoration: none;
}

li.configmenu a,
li.configmenu_selected a{
    margin:0px;
    margin-top:2px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 10px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 8px;
    text-decoration: none;
}
li.configmenu a:hover,
li.configmenu_selected,
li.configmenu_selected a{
    top:12px;
    margin-top: 0;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 4px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}



li.configmenu a                {color: #fff;}
li.configmenu a:hover,
li.configmenu_selected a,
li.configmenu_selected a:hover {background-color: #eee;color: #000;}

.subnav       {width:100%;z-index:1055;}
.subnav       {background-color: #135;}
.subnav-fixed {position:fixed;top:40px;left:0;right:0;}

#sub    {font-family:arial, helvetica, sans-serif;font-weight: bold;display: table;list-style-type: none;margin-bottom: 0;margin-left: auto;margin-right: auto;margin-top: 0;padding-bottom: 0;padding-left: 0;padding-right: 0;padding-top: 0;}
#sub    {background-color: #135;}
#sub li {float:left;position:relative;list-style:none;}
#sub ul {display:none;margin:0;padding:0;position:absolute;top:40px;right:0;z-index:1050;}
#sub ul {background-color:#135;}

div a.log {display: block;}
div.mlogo,
div.mlogo:hover {
    margin:0;
    position:fixed;
    top: 0px;
    height:40px;
    text-decoration:none;
    z-index:1060;
}

div img.mlogo,
div img.mlogo:hover,
div a img.mlogo,
div a img.mlogo:hover     {top:40px;height:40px;z-index:1060;}
div a img.oscamlogo,
div a img.oscamlogo:hover {position:absolute;top:80px;padding:2px;}
div.oscamlogo             {margin-bottom: 40px;padding-bottom: 2px;}

table {top:80px;border-spacing:1px;margin-left:auto;margin-right:auto}
table.menu {border-spacing:0px}

table tr th {
    background-color:#135;
    color:#fff;
    font-weight:bold, border:1px
}
table.config tr:hover td, table.configreader tr:hover td {
    background-color:#CCC;
    color:#000;
}
table.config {
    width:750px;
    background-color:#ccc;
    text-align:center
}
table.config tr td {
    text-align:left
}
table.config tr td:first-child {
    text-align:center;
    padding: 2px;
}
table.invisiblelb, table.configreader {
    text-align:left;
    width:855px;
    background-color:#0078a5;
    font-size: 12px;
    border-bottom:3px solid #0f1517;
    text-decoration: none
}
table.configreader th, table.configreader td, table.configreader a {
    text-align:left
}
table.invisiblelb th {
    color:#fff;
    background-color:#0078a5;
    padding:3px
}
table.configreader th.cnt, table.configreader td.cnt {
    margin: 0px auto 0px auto;
    text-align: center
}
table.statsbalance td:last-child {
    line-height:20px;
    margin-left: 0;
    width:22px
}
table.statsbalance td:last-child img.icon {
    float:right;
    margin-left:10px
}
table.invisible tr td:first-child, table.invisible td {
    text-align:left;
    font-size:12px
}
table.configmenu {
    line-height:40px
}
table.filter {
    color:#000;
    position:fixed;
    top:40px;
    left:10;
    margin:auto;
    z-index:1030;
    font-weight:600;
}
table.filter td {
    text-align:center;
    background-color:transparent
}
table.users {
    width:100%;
    padding-bottom: 1px;
}
table.users th {
    cursor: pointer;
}
table.readers {
    width:100%;
    background-color:#95a4ab
}
select {
    width:210px;
    border: .5px solid #000;
}
#ed{
    width:100px;
}
th {
    height:10px;
    padding: 2px 2px 2px 2px;
    background-color:#ccc;
    color:black
}
th.statuscol0 {
    text-align:center;
    width:10px
}
th.statuscol1, th.statuscol2, th.statuscol3, th.statuscol4, th.statuscol5, th.statuscol6, th.statuscol7, th.statuscol8, th.statuscol9, th.statuscol10, th.statuscol11, th.statuscol12, th.statuscol13, th.statuscol14, th.statuscol15, th.statuscol16 {
    text-align:center
}
th.withservices, th.notservices, th.lbservices {
    color:#fff;
    font-weight:bold
}
td.statuscol0 {
    text-align:center;
    width:10px
}
td {
    height:10px;
    padding: 2px 2px 2px 2px;
    background-color:#eee;
    color:black
}
td.centered, td.statuscol1, td.statuscol2, td.statuscol3, td.statuscol5, td.statuscol6, td.statuscol7, td.statuscol8, td.statuscol10, td.statuscol11, td.statuscol12, td.statuscol14, td.statuscol15, td.statuscol16 {
    text-align:center
}
td.statuscol14 a, td.statuscol16 a {
    text-decoration:none
}
td.statuscol4, td.statuscol9, td.statuscol13 {
    padding:1px
}
td.servicescol1 {
}
td.servicescol2 {
}
td.servicescol3 {
}
td.usercol1 {
}
td.usercol0, td.usercol2, td.usercol3, td.usercol4, td.usercol5, td.usercol6, td.usercol7, td.usercol8, td.usercol9, td.usercol10, td.usercol11, td.usercol12, td.usercol13, td.usercol14, td.usercol15, td.usercol16, td.usercol17, td.usercol18, td.usercol19, td.usercol20, td.usercol21, td.usercol22, td.usercol23 {
    text-align:center
}
td.menu {
    color:black;
    background-color:white;
    font-size:14px;
    font-weight:bold
}
td.menu_selected {
    color:black;
    background-color:#e6febf;
    font-size:14px;
    font-weight:bold;
    font-style:italic
}
td.configmenu {
    color:black;
    background-color:white;
    font-weight:bold
}
td.configmenu_selected {
    color:black;
    background-color:#e6febf;
    font-weight:bold;
    font-style:italic
}
td.subheadline {
    height:10px;
    font-family:Arial;
    font-size:12px;
    font-weight: bold;
    padding:5px;
    background-color:#135;
    color:#fff;
    text-align:left;
    font-weight:800, border:1px
}
tr.online td {
    background-color:#bdb
}
tr.expired td {
    background-color:#bdb
}
tr.connected td {
    background-color:#eeb
}
tr.online:hover td,
tr.connected:hover td{
 background-color:#ccc;   
}
tr.offline:hover td,
tr.disabled:hover td,
tr.expired:hover td{
    background-color:#FCC;
    color:#000
}
table.user_totals,
table.users{
 background-color:#888;   
}
tr.enabledreader:hover td {
    background-color:#CCC;
    color:#000
}
tr.disabledreader td:first-child img.icon {
    background-color:red
}
tr.disabledreader td:first-child a:hover img.icon {
    background-color:#8A0808
}
tr.disabled td.usercol0 img.icon {
    background-color:red
}
tr.disabled td.usercol0 a:hover img.icon {
    background-color:#8A0808
}
tr.disabledreader:hover td {
    background-color:#FCC;
    color:#000
}
tr.scanusbsubhead td {
    background-color:#CCC
}
tr.e_valid td {
    background-color:#e6febf;
    font-family:"courier", monospace
}
tr.e_expired td {
    background-color:#fff3e7;
    font-family:"courier", monospace
}
tr.e_header td {
    font-family:"courier", monospace
}
tr.a td {
    background-color:#3f0
}
tr.p td {
    background-color:#def
}
tr.r td {
    background-color:#ffd
}
tr.c td {
    background-color:#bdb
}
tr.r img.icon {
    background-color:#0066cc
}
tr.p img.icon {
    background-color:#0066cc
}
tr.c img.icon {
    background-color:#0066cc
}
tr.l td, tr.n td {
    background-color:#e1e1ef
}
tr.s td, tr.h td {
    background-color:#c8c8e0
}
tr.c a:hover img.icon {
    background-color:#cc0000
}
tr.r a:hover img.icon {
    background-color:#cc0000
}
tr.s a:hover img.icon {
    background-color:#cc0000
}
tr.s img.icon, tr.h img.icon {
    background-color:#0a0
}
tr.h a:hover img.icon, tr.p a:hover img.icon {
    background-color:#cc0000
}
tr.h a:hover img.icon, tr.p a:hover img.icon, tr.c a:hover img.icon, tr.r a:hover img.icon, tr.s a:hover img.icon, tr.s img.icon, tr.h img.icon, tr.r img.icon, tr.p img.icon, tr.c img.icon {
    border:0 solid;
    width:22px;
    height:22px;
    border-radius:2px;
    -webkit-border-radius:2px
}
tr.h:hover td, tr.h:hover td span, tr.h:hover td span a {
    background-color:#c3cfd6;
    color:#000
}
tr.c:hover td, tr.c:hover td span, tr.c:hover td span a {
    background-color:#f2efd3;
    color:#000
}
tr.p:hover td, tr.p:hover td span, tr.p:hover td span a {
    background-color:#dfebf2;
    color:#000
}
tr.r:hover td, tr.r:hover td span, tr.r:hover td span a {
    background-color:#e1ebe3;
    color:#000
}
tr.s:hover td, tr.s:hover td span, tr.s:hover td span a {
    background-color:#aa00aa;
    color:#000
}
div.log {
background: #45484d; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ1NDg0ZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #45484d 0%, #000000 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #45484d 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #45484d 0%,#000000 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #45484d 0%,#000000 100%); /* IE10+ */
background: linear-gradient(to bottom,  #45484d 0%,#000000 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-8 */
#    background-color:#151515;
    color:#FFF;
    padding:5px;
    font-size:10px;
    text-align:left;
    margin:0 auto;
    line-height:1.1;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    font-family: "Lucida Console",Monaco,monospace;
}
#logwindow {
    margin-top: 0;
}
td.log {
    margin:0;
    border:0;
    text-align:center;
    vertical-align:middle;
    background-color:#525252
}
div.sidlist {
    border:1px dotted #aaaaaa;
    background-color:#fffdf5;
    padding:2px;
    font-family:"courier", monospace;
    color:#666666;
    word-wrap:break-word;
    text-align:left
}
div.message {
    font-size: 12px;
    font-weight:bold
}
div.div_notifier {
    height:14px;
    width:14px;
    border-radius:7px;
    -webkit-border-radius:7px;
    background-color:red;
    margin-left:4px;
    text-align:center;
    float:right
}
div.debugmenu, div.logmenu {
    line-height:20px
}
div.filterform {
    margin:10px
}
textarea.bt {
    font-size: 10px
}
textarea.editor {
    width:95%;
    font-size:11px;
    height:500px;
#    background-color: #CCC;
background: #45484d; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ1NDg0ZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #45484d 0%, #000000 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #45484d 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #45484d 0%,#000000 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #45484d 0%,#000000 100%); /* IE10+ */
background: linear-gradient(to bottom,  #45484d 0%,#000000 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-8 */
    padding:8px 10px;
    font-family:"courier", monospace;
    color:white;
    word-wrap:break-word;
    text-align:left
}
.tooltip {
    position:absolute;
    z-index:1010;
    display:block;
    visibility:visible;
    padding:5px;
    font-size:12px
}
a.tooltip1 {
    color:#ec373a
}
a.tooltip span,
table.users a.tooltip1 span {
    display:none;
    z-index:99
}
table.users td.statuscol16 a.tooltip:hover,
table.users td.statuscol16 a.tooltip1:hover,
table.users td.statuscol5  a.tooltip:hover,
table.users td.statuscol5  a.tooltip1:hover{
    color:#ff6400
}
table.users td.statuscol5 a.tooltip:hover span,
table.users td.statuscol5 a.tooltip1:hover span,
table.users td.statuscol16 a.tooltip:hover span,
table.users td.statuscol16 a.tooltip1:hover span {
    display:block;
    position:absolute;
    top:0;
    right:100%;
    margin:0;
    margin-right:.2em;
    padding:1px 4px 2px;
    text-align:left;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    border-radius:2px;
    color:#fff;
    text-shadow:0 -1px 0 rgba(0, 0, 0, .25);
    background:inherit
}
table.users td.statuscol16 a.tooltip,
table.users td.statuscol16 a.tooltip1,
table.users td.statuscol5 a.tooltip,
table.users td.statuscol5 a.tooltip1 {
    background-color:#464646;
    padding:1px 4px 2px;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    border-radius:2px;
    font-size:10.5px;
    line-height:14px;
    color:#fff;
    vertical-align:baseline;
    white-space:nowrap;
    text-shadow:0 -1px 0 rgba(0, 0, 0, .25);
    position:relative;
    opacity:1;
    cursor:pointer;
    text-decoration:none;
    display:block;
    z-index:1000
}
a.debugls:link, a.debugls:visited {
    background-color:red
}
a:link, a:visited, a:active {
    color:#050840
}
a:hover {
    color:#cc0000;
    font-weight: bold;
}
a:hover img.icon {
#    border: 1px solid yellow;
    background-color:#005aa8
    border:0 solid;
    width:22px;
    height:22px
    border-radius:2px;
    -webkit-border-radius:2px
}
a:hover span {
    display:block;
    position:absolute;
    top:2em;
    right:1em;
    padding:10px;
    color:#335500;
    font-weight:normal;
    background:#ffffdd;
    text-align: left;
    border: 1px solid #666
}
a.statususericon {
    text-decoration:none
}
img {
    border:0px solid
}
img.icon {
    height:22px;
    background-color:#0066CC;
    border-radius:2px;
    -webkit-border-radius:2px
}
a:hover img.icon {
    background-color:#cc0000
}
img.userpicon, img.readericon, img.readertypeicon, img.protoicon, img.statususericon{
    height:22px
}

img.clientcurrentpicon {
    height:30px
}
img.oscamlogo {
    height:46px;
    top:1px;
    left:1px;
    position:fixed
}
rect.graph_bg {
    fill:black
}
text.graph_error {
    text-anchor:middle;
    fill:red
}
text.graph_grid_txt {
    fill:white;
    text-anchor:end;
    style:font-size:12px
}
path.graph_grid {
    stroke:white;
    stroke-opacity:0.5
}
span.e_valid {
    background-color:#e6febf
}
span.e_expired {
    background-color:#fff3e7
}
span.span_notifier {
    padding:1px 3px;
    border-radius:10px;
    color:#fff;
    margin-left:2px;
    background:#f00
}
span.idlesec_normal {
    font-size:10px;
    font-weight:bold;
    color:black
}
span.idlesec_alert {
    font-size:10px;
    font-weight:bold;
    color:red
}
span.global_conf {
    color:blue;
    font-size:12px;
    cursor:default;
    padding:4px
}
.statusrefresh {
    font-size:12px;
    color: #fff;
    float:right;
    position:fixed;
    text-align:left;
    top:5px;
    right: 10px;
    z-index:1090
}
.statusinfo {
    position:absolute;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    top:46px
}
.countDownText {
    color:#ff4500
}
.setrefresh span {
    font-weight:400;
    color:#000;
    font-weight:bold;
    padding:11px 50px 7px;
    float:left
}
.setrefresh {
    width:300px;
    position:fixed;
    top:45px;
    right:5%;
    z-index:1040
}
.debugt {
    color:#000;
    font-weight:bold;
    padding:5px;
    font-size:11px;
    aword-wrap:break-word;
    text-align:left;
    margin-top:-30px;
    margin:0 auto;
    width:97%;
    line-height:1.2;
    -webkit-border-radius:1px;
    -moz-border-radius:1px;
    border-radius:1px
}
a.debugl:link, a.debugl:visited {
    text-decoration:none;
    padding:1px 9px 2px;
    border-radius:5px;
    color:#fff;
    white-space:nowrap;
    background:#0066cc
}
a.debugl:hover {
    text-decoration:none;
    border-radius:5px;
    font-weight:bold;
    color:#fff;
    white-space:nowrap;
    background:#cc0000
}
a.debugls:link, a.debugls:visited {
    text-decoration:none;
    padding:1px 9px 2px;
    border-radius:10px;
    color:#fff;
    white-space:nowrap;
    background:#c50000
}
div.newuser {
    display:none
}
div.footer {
    clear:both;
    width:100%;
    float:left;
    margin-top:35px;
    padding:20px 0 36px;
    background-color:#292929;
    border-top:5px solid #ff6600
}
div.footer p {
    color:#a9a9a9
}
div.footer p.version {
    color:#fff
}
div.footer a {
    color:#ff6600;
    text-decoration: none;
}
div.footer a:hover {
    color:#fff1c3
}
.mandatory {
    background-color: #fc6;
}
.mandatory > a:link, .mandatory > a:visited, .mandatory > a:active {
    color: #000;
}
table.users tbody tr th input,
table.users tbody tr th select{
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
}
table#dataTable.readers thead tr th table,
table#dataTable.readers thead tr th,
table#dataTable.readers thead tr th table.subtable tbody tr th
{
    padding: 1px 1px 1px 1px;
}
.subtable{
        width: 100%;
}
.subtable th#eins, .subtable th#zwei{
    text-align: left;
}
.subtable th#drei, .subtable th#vier{
    text-align: right;
}
table#dataTable.users thead tr th{
    padding: 1px 1px 1px 1px;
}

.debugline{
    line-height: 20px;
}
.user_totals{
    width: 800px;
}

td.select {
    border:.5px solid #000;
    text-align:center;
    vertical-align:middle;
    background-color:#525252;
    cursor: pointer;
}
input[type="submit"] {
    text-decoration:none;
    border:0;
    padding: 2px;
    border-radius: 4px;
    text-align:center;
    font:11px Arial, Helvetica, sans-serif;
    font-weight:bold;
    color:#ffffff;
    background-color:#0066cc;
}
input[type="submit"]:hover {
    font:11px Arial, Helvetica, sans-serif;
    border:0;
    padding: 2px;
    border-radius: 4px;
    font-weight:bold;
    color:#ffffff;
    background-color:#cc0000;
}
input[type="submit"]:active {
    font:11px Arial, Helvetica, sans-serif;
    border:0;
    padding: 2px;
    border-radius: 4px;
    font-weight:bold;
    color:#ffffff;
    background-color:#ff0000;
}

input[type="text"] {
    border: .5px solid #000;
    padding:2px;
    cursor:text
}

input[type="text"]:hover{
    border:.5px solid #000;
    padding:2px;
    cursor:text
}
input[type="text"]:active {
    border:.5px solid #000;
    padding:2px;
    cursor:text
}
input#searchTerm.search_box,
div#newuser.newuser table.users tbody tr th input,
div#newreader.newuser form table.users tbody tr th input,
div#newreader.newuser form table.users tbody tr th select{
    margin-left: 5px;
    margin-right: 5px;
    border:.5px solid #000;
    padding:2px;
    cursor: pointer;   
}
@media only screen and (max-width: 1039px) {
    tr th#hide,
    td#hide{
        display: none;
    }
}
@media only screen and (max-width: 927px) {
    tr th#hideee,
    td#hideee{
        display: none;
    }
    .statusrefresh{
    top:45px;
    color: #fff;
    }
 }
@media only screen and (max-width: 872px) {
    tr th#hideeee,
    td#hideeee,
    span#hideeee.idlesec_normal,
    td#hideeee.centered{
        display: none;
    }
}
@media only screen and (max-width: 800px) {
    tr th#hidee,
    td#hidee{
        display: none;
    }
    .user_totals{
        width: 100%;
    }
}
@media only screen and (max-width: 758px) {
    li#hideeeee.menu,
    td.statuscol10,
    td#hideeeee.centered,
    tr th#hideeeee,
    td#hideeeee {
        display: none;
    }
}
@media only screen and (max-width: 420px) {
    #timer,
    li#hideeeee.menu,
    tr th#hideeeeee,
    td#hideeeeee{
        display: none;
    }
}
